<div class="auth-container h-100 w-100">
  <div class="row">
    <div class="col-md-12">
      <h3 class="title">Entrar</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1 class="subtitle">Seja Bem-vindo de volta</h1>
      <p class="context">Por aqui você acompanha e gerencia suas cotações e ordens de compra.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <form [formGroup]="loginForm" id="login">
        <div class="row">
          <div class="col-md-12 mb-3">
            <label class="input-label" for="user">E-mail</label>
            <input id="user" formControlName="email" nz-input class="form-control noventa-input"
              placeholder="E-mail cadastrado" type="email" [email]="true" />
            <div
              *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.errors && (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)">
              <small class="text-danger" *ngIf="loginForm.get('email')?.hasError('required')">
                * O campo e-mail é obrigatorio.
              </small>
              <small class="text-danger" *ngIf="loginForm.get('email')?.hasError('maxlength')">
                * O campo e-mail deve conter no maximo {{loginForm.get('email')?.errors?.['maxlength'].requiredLength}}
              </small>
              <small class="text-danger" *ngIf="loginForm.get('email')?.hasError('pattern')">
                * Por favor, digite um e-mail valido
              </small>
            </div>
          </div>
          <div class="col-md-12 mb-5">
            <label class="input-label" for="pass">Senha</label>
            <input id="pass" formControlName="password" nz-input class="form-control noventa-input"
              placeholder="Digite sua senha" type="password" />
            <div
              *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.errors && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)">
              <small class="text-danger" *ngIf="loginForm.get('password')?.hasError('required')">
                * O campo senha é obrigatorio.
              </small>
              <small class="text-danger" *ngIf="loginForm.get('password')?.hasError('maxlength')">
                * O campo senha deve conter no maximo
                {{loginForm.get('password')?.errors?.['maxlength'].requiredLength}}
              </small>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12 d-flex flex-row justify-content-between align-items-end">
      <label [(ngModel)]="remenberUser" (nzCheckedChange)="remenberMe()" nz-checkbox>Lembrar meus dados</label>
      <a routerLink="/usuario/validar" class="lost-pass">Esqueci minha senha</a>
    </div>
  </div>
  <div class="row">
    <button (click)="login()" [disabled]="!loginForm.valid" nz-button nzType="primary">Entrar</button>
  </div>
  <div class="row">
    <p class="create-account">Ainda não tem uma conta? <a [routerLink]="'/usuario/dados-basicos'">Cadastra-se</a>
    </p>
  </div>
</div>