<div class="auth-container h-100 w-100">
    <div class="row">
        <div class="col-md-12">
            <h3 class="title">Configure sua nova senha</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="context">Para sua segurança, evite senhas frequentemente utilizadas e que contenham informações
                pessoais. <b>Insira pelo menos 8 caracteres.</b></p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="recoverForm">
                <div class="input-container">
                    <label class="input-label" for="password">Nova senha</label>
                    <i class="ri-question-line question" nz-popover nzType="primary" nzPopoverTitle="Dica"
                        [nzPopoverContent]="contentTemplate"></i>
                    <ng-template #contentTemplate>
                        <div>
                            <ul>
                                <li>Verifica se a senha tem de 8 a 12 caracteres</li>
                                <li>Verifica se existe pelo menos um número na senha</li>
                                <li>Verifica se existe apenas uma letra maiuscula</li>
                                <li>Verifica se existe apenas uma letra minuscula</li>
                                <li>Verifica se nao existe algum caractere especial</li>
                            </ul>
                        </div>
                    </ng-template>
                    <div class="input-group mb-3">
                        <input id="password" formControlName="password" nz-input
                            class="form-control noventa-input addonType" placeholder="Insira a nova senha"
                            [type]="passwordFieldType" aria-describedby="basic-addon2"
                            [class]="(recoverForm.get('password')?.invalid && recoverForm.get('password')?.errors && (recoverForm.get('password')?.dirty || recoverForm.get('password')?.touched)) ? 'hasError' : ''" />
                        <span class="input-group-text">
                            <button class="btn btn-default" (click)="showPassword()">
                                <i *ngIf="passwordFieldType === 'password'" class="ri-eye-close-line"></i>
                                <i *ngIf="passwordFieldType === 'text'" class="ri-eye-line"></i>
                            </button>
                        </span>
                    </div>
                    <div
                        *ngIf="recoverForm.get('password')?.invalid && recoverForm.get('password')?.errors && (recoverForm.get('password')?.dirty || recoverForm.get('password')?.touched)">
                        <small class="text-danger" *ngIf="recoverForm.get('password')?.hasError('required')">
                            * O campo Nova senha é obrigatorio.
                        </small>
                        <small class="text-danger" *ngIf="recoverForm.get('password')?.hasError('minlength')">
                            * O Campo Nova senha deve ter no minimo 8 caracteres.
                        </small>
                        <small class="text-danger" *ngIf="recoverForm.get('password')?.hasError('maxlength')">
                            * O campo senha deve conter no maximo
                            {{recoverForm.get('password')?.errors?.['maxlength'].requiredLength}}
                        </small>
                    </div>
                </div>
                <div class="input-container">
                    <label class="input-label" for="confirmPassword">Confirmar</label>
                    <div class="input-group mb-3">
                        <input id="confirmPassword" formControlName="confirmPassword" nz-input
                            class="form-control noventa-input" placeholder="Repita a senha"
                            [type]="confirmPasswordFieldType"
                            [class]="(recoverForm.get('confirmPassword')?.invalid && recoverForm.get('confirmPassword')?.errors && (recoverForm.get('confirmPassword')?.dirty || recoverForm.get('confirmPassword')?.touched)) ? 'hasError' : ''" />
                        <span class="input-group-text">
                            <button class="btn btn-default" (click)="showConfirmPassword()">
                                <i *ngIf="confirmPasswordFieldType === 'password'" class="ri-eye-close-line"></i>
                                <i *ngIf="confirmPasswordFieldType === 'text'" class="ri-eye-line"></i>
                            </button>
                        </span>
                    </div>
                    <div
                        *ngIf="recoverForm.get('confirmPassword')?.invalid && recoverForm.get('confirmPassword')?.errors && (recoverForm.get('confirmPassword')?.dirty || recoverForm.get('confirmPassword')?.touched)">
                        <small class="text-danger" *ngIf="recoverForm.get('confirmPassword')?.hasError('required')">
                            * O campo Confirmar nova senha é obrigatorio.
                        </small>
                        <small class="text-danger" *ngIf="recoverForm.get('confirmPassword')?.hasError('minlength')">
                            * O Campo Confirmar nova senha deve ter no minimo 8 caracteres.
                        </small>
                        <small class="text-danger" *ngIf="recoverForm.get('confirmPassword')?.hasError('equalsto')">
                            * As senhas não coincidem.
                        </small>
                        <small class="text-danger" *ngIf="recoverForm.get('password')?.hasError('maxlength')">
                            * O campo senha deve conter no maximo
                            {{recoverForm.get('password')?.errors?.['maxlength'].requiredLength}}
                        </small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <button (click)="resetPassword()" [disabled]="!recoverForm.valid" nz-button nzType="primary">
            Redefinir senha
        </button>
    </div>
</div>