<div class="row w-100">
  <div class="col-md-12 pb-3 pt-3 header-info">
    <div class="row mb-4 mt-3">
      <div class="col-md-4">
        <h3>Estatistica da <small>semana</small></h3>
      </div>
      <div class="col-md-8 d-flex justify-content-end">
        <nz-radio-group [(ngModel)]="selectedRadioWeek">
          <label nz-radio-button nzValue="1" (click)="selectWeek(1)">Útima semana</label>
          <label nz-radio-button nzValue="2" (click)="selectWeek(2)">Últimos 15 dias</label>
          <label nz-radio-button nzValue="3" (click)="selectWeek(3)">Últimos 30 dias</label>
          <label nz-radio-button nzValue="5" (click)="selectWeek(5)">Últimos trimestre</label>
          <label nz-radio-button nzValue="6" (click)="selectWeek(6)">Últimos semestre</label>
          <label nz-radio-button nzValue="7" (click)="selectWeek(7)">Últimos ano</label>
        </nz-radio-group>
      </div>
    </div>
    <div class="row mb-3">
      <div class="col-md-12 d-flex justify-content-between">
        <div class="cotation-card">
          <div class="logo">
            <img src="./../../../assets/img/clock.png" alt="clock">
          </div>
          <div class="info">
            <div class="status-circle">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                <circle cx="6" cy="6.05566" r="6" fill="#EC7000" class="pendente" />
              </svg>
              <p>Cotações pendentes</p>
            </div>
            <h3>{{infoData.cotacoesPendentes}}</h3>
          </div>
        </div>
        <div class="cotation-card">
          <div class="logo">
            <img src="./../../../assets/img/export.png" alt="clock">
          </div>
          <div class="info">
            <div class="status-circle">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                <circle cx="6" cy="6.05566" r="6" fill="#EC7000" class="enviada" />
              </svg>
              <p>Cotações enviadas</p>
            </div>
            <h3>{{infoData.cotacoesEnviadas}}</h3>
          </div>
        </div>
        <div class="cotation-card">
          <div class="logo">
            <img src="./../../../assets/img/market.png" alt="clock">
          </div>
          <div class="info">
            <div class="status-circle">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                <circle cx="6" cy="6.05566" r="6" fill="#EC7000" class="aprovada" />
              </svg>
              <p>OCs aprovadas</p>
            </div>
            <h3>{{infoData.ocsAprovadas}}</h3>
          </div>
        </div>
        <div class="cotation-card">
          <div class="logo">
            <img src="./../../../assets/img/fast-market.png" alt="clock">
          </div>
          <div class="info">
            <div class="status-circle">
              <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
                <circle cx="6" cy="6.05566" r="6" fill="#EC7000" class="finalizada" />
              </svg>
              <p>OCs finalizadas</p>
            </div>
            <h3>{{infoData.ocsFinalizadas}}</h3>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row  w-100 body-info">
  <div class="col-md-6 pedding-cotation">
    <div class="row">
      <div class="col-md-12">
        <h3>Cotações <small>pendentes</small></h3>
      </div>
      <ngx-simplebar class="bar-adjust" *ngIf="penddingInfo.length > 0">
        <div *ngFor="let pedding of penddingInfo" class="col-md-12 card-container">
          <div class="cotation-card">
            <div class="row">
              <div class="col-md-12 cotation-name">
                {{pedding.solicitante}}
                <nz-tag [nzColor]="'orange'">
                  <i class="ri-alert-line"></i>
                  imediata
                </nz-tag>
              </div>
              <div class="col-md-6">
                <i class="ri-map-pin-2-line"></i>
                {{pedding.localEntrega}}
              </div>
              <div class="col-md-6">
                <i class="ri-calendar-line"></i>
                Solicitação: {{pedding.dataSolicitacao | date: "dd/MM/yy 'às' HH:mm"}}
              </div>
            </div>
            <div class="row" style="margin-bottom: 12.13px;">
              <div class="col-md-6">
                <i class="ri-instance-line"></i>
                {{pedding.quantidadeItensRequisitados}}
                itens requisitados
              </div>
              <div class="col-md-6 last-info">
                <i class="ri-truck-line"></i>
                Data de entrega: {{pedding.dataEntrega | date: 'dd/MM/yy'}}

                <button nz-butto class="shared" (click)="answerRequest(pedding.id)">
                  <i class="ri-share-forward-fill"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <div class="pagination-container">
          <nz-pagination (nzPageIndexChange)="getPeddingNextPage($event)" [nzHideOnSinglePage]="true"
            [nzPageIndex]="PaddingPage" [nzPageSize]="10" [nzTotal]="totalPaddingItens"></nz-pagination>
        </div>
      </ngx-simplebar>
    </div>
  </div>
  <div class="col-md-6 recentlyAct">
    <div class="row">
      <div class="col-md-12">
        <h3>Atividades <small>recentes</small></h3>
      </div>
      <ngx-simplebar class="bar-adjust" *ngIf="recentlyActList.length > 0">
        <div *ngFor="let recently of recentlyActList" class="col-md-12 rec-info-container">
          <div class="status-circle">
            <svg xmlns="http://www.w3.org/2000/svg" width="12" height="13" viewBox="0 0 12 13" fill="none">
              <circle cx="6" cy="6.05566" r="6" fill="#EC7000" [ngClass]="getAction(recently.acao)" />
            </svg>
            <h3>{{recently.acao}}</h3>
          </div>
          <label for="destiny">Solicitante: {{recently.solicitante}}</label>
          <label for="destiny">Detino: {{recently.localEntrega}}</label>
          <label class="rec-date" for="destiny">{{recently.dataEntrega| date: "dd/MM/yyyy 'às' HH:mm"}}</label>
          <nz-divider></nz-divider>
        </div>
        <div class="pagination-container">
          <nz-pagination (nzPageIndexChange)="getCurrentlyNextPage($event)" [nzHideOnSinglePage]="true"
            [nzPageIndex]="CurrentlyPage" [nzPageSize]="10" [nzTotal]="totalCurrentlyItens"></nz-pagination>
        </div>
      </ngx-simplebar>
      <div class="col-md-12 rec-info-container" *ngIf="recentlyActList.length === 0">
        <nz-empty nzNotFoundImage="simple"></nz-empty>
      </div>
    </div>
  </div>
</div>