<ngx-simplebar class="bar-adjust p-2" #scrollRef>
    <div class="row answer-req">
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col-md-12 brad-page-header">
                    <nz-breadcrumb [nzSeparator]="null">
                        <nz-breadcrumb-item>
                            <a routerLink="/app/visao-geral">Visão Geral</a>
                        </nz-breadcrumb-item>
                        <nz-breadcrumb-separator>></nz-breadcrumb-separator>
                        <nz-breadcrumb-item>Responder Solicitação</nz-breadcrumb-item>
                    </nz-breadcrumb>
                    <span class="regional">RM {{cotation.cotacao.idCotacao}}</span>
                </div>
            </div>
            <div class="row mb-3 header-data noventa-box-shadow">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="requester">Solicitante: <span
                                    id="requester">{{cotation.dadosSolicitante.nome}}</span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="requester">CNPJ: <span id="requester">{{cotation.dadosSolicitante.cnpj | mask:
                                    '000.000.000-00||00.000.000/0000-00'}}</span></label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label for="requester"><i class="ri-calendar-line"></i> Solicitado em: <span id="requester">
                                    {{cotation.cotacao.dataCadastro | date: "dd/MM/yy 'ás' HH'h'mm"}}</span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="requester"><i class="ri-truck-line"></i> Entrega desejada (cliente): <span
                                    id="requester">{{cotation.dadosSolicitante.dataEntrega | date:
                                    'dd/MM/yy'}}</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label for="requester"><i class="ri-map-pin-line"></i> Local de destino: <span
                                    id="requester">
                                    {{cotation.dadosSolicitante.endereco}}
                                </span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="requester">
                                <i class="ri-phone-line"></i> Contato:
                                <span id="requester">{{cotation.dadosSolicitante.telefone | mask: '(00) 0000-0000||(00)00000-0000'}} / {{cotation.dadosSolicitante.email}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12" style="padding: 0;">
                    <div class="row cotation-body">
                        <ngx-simplebar #scrollRef>
                            <form [formGroup]="formMaterial" *ngIf="formMaterial">
                                <nz-table class="answerTable" #answerTable [nzData]="getMaterialFormArray"
                                    [nzShowPagination]="false">
                                    <thead>
                                        <tr>
                                            <th>Disponib.</th>
                                            <th>Item Requisitado</th>
                                            <th>Fabricante</th>
                                            <th>Qtd. Req.</th>
                                            <th>Preço. Unit.</th>
                                            <th>% Desc.</th>
                                            <th>Incluso IPI?</th>
                                            <th>% IPI</th>
                                            <th>Valor IPI</th>
                                            <th>%ICMS</th>
                                            <th>Prazo Ent.</th>
                                            <th>Marca</th>
                                            <th>Subtotal</th>
                                        </tr>
                                    </thead>
                                    <tbody formArrayName="materials" class="formMaterials">
                                        <tr *ngFor="let data of answerTable.data; let $index = index"
                                            [formGroupName]="$index">

                                            <td class="text-center">
                                                <span formControlName="ativo" nz-checkbox></span>
                                            </td>
                                            <td *ngIf="hasShortDescription(data).short" class="shorter">
                                                {{ hasShortDescription(data).short }}
                                                <span class="show-tip" nz-tooltip
                                                    [nzTooltipTitle]="hasShortDescription(data).desc"></span>
                                            </td>
                                            <td *ngIf="!hasShortDescription(data).short">
                                                {{ hasShortDescription(data).desc }}
                                            </td>
                                            <td>{{ getFormControlValue('nomeFabricante', $index) }}</td>
                                            <td>{{ getFormControlValue('quantidadeRequisitada', $index) | number }} UND
                                            </td>
                                            <td>
                                                <input class="answerTableInput unitValue" nz-input currencyMask [options]="{ precision: 4 }" formControlName="precoUnitario" type="text" (keyup)="updateMaterial($index)"
                                                [class]="(getMaterialFormArray[$index].get('precoUnitario')?.invalid && getMaterialFormArray[$index].get('precoUnitario')?.errors && (getMaterialFormArray[$index].get('precoUnitario')?.dirty || getMaterialFormArray[$index].get('precoUnitario')?.touched)) ? 'hasError' : ''" >
                                                <div
                                                    *ngIf="getMaterialFormArray[$index].get('precoUnitario')?.invalid && getMaterialFormArray[$index].get('precoUnitario')?.errors && (getMaterialFormArray[$index].get('precoUnitario')?.dirty || getMaterialFormArray[$index].get('precoUnitario')?.touched)">
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('precoUnitario')?.hasError('required')">
                                                        * O campo é obrigatorio.
                                                    </small>
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('precoUnitario')?.hasError('min')">
                                                        * O valor minimo é 0,0001.
                                                    </small>
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('precoUnitario')?.hasError('max')">
                                                        * O valor maximo é 999,9999.
                                                    </small>
                                                </div>
                                            </td>
                                            <td>
                                                <input class="answerTableInput percent" nz-input suffix="%" mask="separator.2" decimalMarker="," formControlName="percentualDesconto" type="text" (keyup)="updateMaterial($index)"
                                                [class]="(getMaterialFormArray[$index].get('percentualDesconto')?.invalid && getMaterialFormArray[$index].get('percentualDesconto')?.errors && (getMaterialFormArray[$index].get('percentualDesconto')?.dirty || getMaterialFormArray[$index].get('percentualDesconto')?.touched)) ? 'hasError' : ''" >
                                                <div
                                                    *ngIf="getMaterialFormArray[$index].get('percentualDesconto')?.invalid && getMaterialFormArray[$index].get('percentualDesconto')?.errors && (getMaterialFormArray[$index].get('percentualDesconto')?.dirty || getMaterialFormArray[$index].get('percentualDesconto')?.touched)">
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('percentualDesconto')?.hasError('required')">
                                                        * O campo é obrigatorio.
                                                    </small>
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('percentualDesconto')?.hasError('max')">
                                                        * O valor maximo é 99.99%.
                                                    </small>
                                                </div>
                                            </td>
                                            <td class="text-center">
                                                <span formControlName="ipiIncluso" nz-checkbox (change)="allowIpiPercent($index)"></span>
                                            </td>
                                            <td>
                                                <input class="answerTableInput percent" suffix="%" mask="99" nz-input formControlName="percentualIpi" type="text" (keyup)="updateMaterial($index)">
                                            </td>
                                            <td>
                                                <input class="answerTableInput unitValue" currencyMask nz-input formControlName="valorIpi" type="text">
                                            </td>
                                            <td>
                                                <input class="answerTableInput percent" suffix="%" mask="separator.2" decimalMarker="," nz-input formControlName="percentualIcms" type="text" (keyup)="updateMaterial($index)"
                                                [class]="(getMaterialFormArray[$index].get('percentualIcms')?.invalid && getMaterialFormArray[$index].get('percentualIcms')?.errors && (getMaterialFormArray[$index].get('percentualIcms')?.dirty || getMaterialFormArray[$index].get('percentualIcms')?.touched)) ? 'hasError' : ''" >
                                                <div
                                                    *ngIf="getMaterialFormArray[$index].get('percentualIcms')?.invalid && getMaterialFormArray[$index].get('percentualIcms')?.errors && (getMaterialFormArray[$index].get('percentualIcms')?.dirty || getMaterialFormArray[$index].get('percentualIcms')?.touched)">
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('percentualIcms')?.hasError('required')">
                                                        * O campo é obrigatorio.
                                                    </small>
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('percentualIcms')?.hasError('max')">
                                                        * O valor maximo é 99.99%.
                                                    </small>
                                                </div>
                                            </td>
                                            <td>
                                                <input class="answerTableInput date" mask="099" suffix=" Dia(s)" nz-input formControlName="prazoEntrega" type="text" (keyup)="updateMaterial($index)"
                                                [class]="(getMaterialFormArray[$index].get('prazoEntrega')?.invalid && getMaterialFormArray[$index].get('prazoEntrega')?.errors && (getMaterialFormArray[$index].get('prazoEntrega')?.dirty || getMaterialFormArray[$index].get('prazoEntrega')?.touched)) ? 'hasError' : ''" >
                                                <div
                                                    *ngIf="getMaterialFormArray[$index].get('prazoEntrega')?.invalid && getMaterialFormArray[$index].get('prazoEntrega')?.errors && (getMaterialFormArray[$index].get('prazoEntrega')?.dirty || getMaterialFormArray[$index].get('prazoEntrega')?.touched)">
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('prazoEntrega')?.hasError('required')">
                                                        * O campo é obrigatorio.
                                                    </small>
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('prazoEntrega')?.hasError('min')">
                                                        * O valor minimo e de 1 dia.
                                                    </small>
                                                </div>
                                            </td>
                                            <td>
                                                <input class="answerTableInput" nz-input formControlName="marca" type="text"
                                                [class]="(getMaterialFormArray[$index].get('marca')?.invalid && getMaterialFormArray[$index].get('marca')?.errors && (getMaterialFormArray[$index].get('marca')?.dirty || getMaterialFormArray[$index].get('marca')?.touched)) ? 'hasError' : ''" >
                                                <div
                                                    *ngIf="getMaterialFormArray[$index].get('marca')?.invalid && getMaterialFormArray[$index].get('marca')?.errors && (getMaterialFormArray[$index].get('marca')?.dirty || getMaterialFormArray[$index].get('marca')?.touched)">
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('marca')?.hasError('required')">
                                                        * O campo é obrigatorio.
                                                    </small>
                                                    <small class="text-danger" *ngIf="getMaterialFormArray[$index].get('marca')?.hasError('maxlength')">
                                                        * O campo deve ter no maximo 30 caracteres.
                                                    </small>
                                                </div>
                                            </td>
                                            <td>
                                                {{ getFormControlValue('subTotal', $index) | currency : 'BRL' }}
                                            </td>
                                        </tr>
                                    </tbody>
                                </nz-table>
                            </form>
                        </ngx-simplebar>
                    </div>
                </div>
            </div>
            <div class="row title-row">
                <div class="col-md-8">
                    <h3>Informe os datalhes da entrega</h3>
                </div>
                <div class="col-md-4">
                    <h3>Resumo da cotação</h3>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8 noventa-box-shadow" style="width: 64.66666667%;">
                    <form [formGroup]="formDelivery" class="formDelivery">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="nomeVendedor">Nome do vendedor <small>*</small></label>
                                <input formControlName="nomeVendedor" id="nomeVendedor" nz-input type="text"
                                [class]="(formDelivery.get('nomeVendedor')?.invalid && formDelivery.get('nomeVendedor')?.errors && (formDelivery.get('nomeVendedor')?.dirty || formDelivery.get('nomeVendedor')?.touched)) ? 'hasError' : ''" >
                                <div
                                    *ngIf="formDelivery.get('nomeVendedor')?.invalid && formDelivery.get('nomeVendedor')?.errors && (formDelivery.get('nomeVendedor')?.dirty || formDelivery.get('nomeVendedor')?.touched)">
                                    <small class="text-danger" *ngIf="formDelivery.get('nomeVendedor')?.hasError('required')">
                                        * O campo é obrigatorio.
                                    </small>
                                    <small class="text-danger" *ngIf="formDelivery.get('nomeVendedor')?.hasError('maxlength')">
                                        * O campo deve ter no maximo 30 caracteres.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="vendorName">Data de entrega <small>*</small></label>
                                <nz-date-picker nzFormat="dd/MM/yyyy" formControlName="dataEntrega"
                                [class]="(formDelivery.get('dataEntrega')?.invalid && formDelivery.get('dataEntrega')?.errors && (formDelivery.get('dataEntrega')?.dirty || formDelivery.get('dataEntrega')?.touched)) ? 'hasError' : ''" ></nz-date-picker>
                                <div
                                    *ngIf="formDelivery.get('dataEntrega')?.invalid && formDelivery.get('dataEntrega')?.errors && (formDelivery.get('dataEntrega')?.dirty || formDelivery.get('dataEntrega')?.touched)">
                                    <small class="text-danger" *ngIf="formDelivery.get('dataEntrega')?.hasError('required')">
                                        * O campo é obrigatorio.
                                    </small>
                                    <small class="text-danger" *ngIf="formDelivery.get('dataEntrega')?.hasError('datevalidation')">
                                        * A data nao pode ser inferior a hoje.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label for="vendorName">Formas de pagamento <small>*</small></label>
                                <nz-select formControlName="formaPagamento" ativo name="paymentType" (ngModelChange)="resumeCalc()"
                                [class]="(formDelivery.get('formaPagamento')?.invalid && formDelivery.get('formaPagamento')?.errors && (formDelivery.get('formaPagamento')?.dirty || formDelivery.get('formaPagamento')?.touched)) ? 'hasError' : ''" >
                                    <nz-option *ngFor="let payment of paymentList" [nzValue]="payment.id" [nzLabel]="payment.statusCondicoesPagamento"></nz-option>
                                </nz-select>
                                <div
                                    *ngIf="formDelivery.get('formaPagamento')?.invalid && formDelivery.get('formaPagamento')?.errors && (formDelivery.get('formaPagamento')?.dirty || formDelivery.get('formaPagamento')?.touched)">
                                    <small class="text-danger" *ngIf="formDelivery.get('formaPagamento')?.hasError('required')">
                                        * O campo é obrigatorio.
                                    </small>
                                </div>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="vendorName">Tipo do frete <small>*</small></label>
                                <nz-select formControlName="tipoFrete" ativo name="freigthType" (ngModelChange)="validatePortage()"
                                [class]="(formDelivery.get('tipoFrete')?.invalid && formDelivery.get('tipoFrete')?.errors && (formDelivery.get('tipoFrete')?.dirty || formDelivery.get('tipoFrete')?.touched)) ? 'hasError' : ''" >
                                    <nz-option *ngFor="let portage of portageList" [nzValue]="portage.id"
                                        [nzLabel]="portage.tipoFrete"></nz-option>
                                </nz-select>
                                <div
                                    *ngIf="formDelivery.get('tipoFrete')?.invalid && formDelivery.get('tipoFrete')?.errors && (formDelivery.get('tipoFrete')?.dirty || formDelivery.get('tipoFrete')?.touched)">
                                    <small class="text-danger" *ngIf="formDelivery.get('tipoFrete')?.hasError('required')">
                                        * O campo é obrigatorio.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="vendorName">Valor do frete <small>*</small></label>
                                <input formControlName="valorFrete" class="value" nz-input currencyMask type="text" (keyup)="resumeCalc()"
                                [class]="(formDelivery.get('valorFrete')?.invalid && formDelivery.get('valorFrete')?.errors && (formDelivery.get('valorFrete')?.dirty || formDelivery.get('valorFrete')?.touched)) ? 'hasError' : ''" >
                                <div
                                    *ngIf="formDelivery.get('valorFrete')?.invalid && formDelivery.get('valorFrete')?.errors && (formDelivery.get('valorFrete')?.dirty || formDelivery.get('valorFrete')?.touched)">
                                    <small class="text-danger" *ngIf="formDelivery.get('valorFrete')?.hasError('required')">
                                        * O campo é obrigatorio.
                                    </small>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <label for="vendorName">Frete fora da nota</label>
                                <input formControlName="freteForaNota" currencyMask class="value" nz-input placeholder="(opcional)" type="text" (keyup)="resumeCalc()">
                            </div>
                            <div class="col-md-2">
                                <label for="vendorName">Seguro</label>
                                <input formControlName="valorSeguro" nz-input currencyMask class="value"
                                    placeholder="(opcional)" type="text" (keyup)="resumeCalc()">
                            </div>
                            <div class="col-md-2">
                                <label for="vendorName">Desconto</label>
                                <input formControlName="valorDesconto" nz-input currencyMask class="value" type="text"
                                    (keyup)="resumeCalc()">
                            </div>
                            <div class="col-md-2">
                                <label for="vendorName">Outras despesas</label>
                                <input formControlName="outrasDespesas" nz-input currencyMask class="value"
                                    placeholder="(opcional)" type="text" (keyup)="resumeCalc()">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex flex-column">
                                <label for="vendorName">Observação</label>
                                <textarea formControlName="observacao" rows="6" style="resize: none;"
                                [class]="(formDelivery.get('observacao')?.invalid && formDelivery.get('observacao')?.errors && (formDelivery.get('observacao')?.dirty || formDelivery.get('observacao')?.touched)) ? 'hasError' : ''" ></textarea>
                                <div
                                    *ngIf="formDelivery.get('observacao')?.invalid && formDelivery.get('observacao')?.errors && (formDelivery.get('observacao')?.dirty || formDelivery.get('observacao')?.touched)">
                                    <small class="text-danger" *ngIf="formDelivery.get('observacao')?.hasError('maxlength')">
                                        * O campo deve conter no maximo 255 caracteres.
                                    </small>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 ml-md-auto checkout-info noventa-box-shadow" style="margin-left: 2%;">
                    <div>
                        <span>Subtotal itens</span>
                        <span>(+) {{cotation.resumoCotacao.subTotalItens | currency: 'BRL'}}</span>
                    </div>
                    <div>
                        <span>Valor frete</span>
                        <span>(+) {{cotation.resumoCotacao.valorFrete | currency: 'BRL'}}</span>
                    </div>
                    <div>
                        <span>Seguro</span>
                        <span>(+) {{cotation.resumoCotacao.valorSeguro | currency: 'BRL'}}</span>
                    </div>
                    <div>
                        <span>Descontos</span>
                        <span>(-) {{cotation.resumoCotacao.valorDesconto | currency: 'BRL'}}</span>
                    </div>
                    <div>
                        <span>Outras despesas</span>
                        <span>(+) {{cotation.resumoCotacao.outrasDespesas | currency: 'BRL'}}</span>
                    </div>
                    <div>
                        <span>Formas de pagamento</span>
                        <span>{{cotation.resumoCotacao.formaPagamento}}</span>
                    </div>
                    <nz-divider></nz-divider>
                    <div class="total-value">
                        <span>Valor total final</span>
                        <span>{{cotation.resumoCotacao.valorFinalCotacao | currency: 'BRL'}}</span>
                    </div>
                </div>
            </div>
            <div class="row submit-field">
                <div class="col-md-12">
                    <button class="btn">Voltar</button>
                    <div class="save-container">
                        <button class="btn" [disabled]="cotation.cotacao.cotacaoExpirada" (click)="saveDraft()">Salvar Rascunho</button>
                        <button class="btn" [disabled]="cotation.cotacao.cotacaoExpirada" (click)="sentRequest(formMaterial.value, null)">Enviar Cotação</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ngx-simplebar>