<ngx-simplebar class="bar-adjust p-2" #scrollRef>
    <div class="row answer-req">
        <div class="col-md-12">
            <div class="row mb-3">
                <div class="col-md-12 brad-page-header">
                    <nz-breadcrumb [nzSeparator]="null">
                        <nz-breadcrumb-item>
                            <a routerLink="/app/visao-geral">Visão Geral</a>
                        </nz-breadcrumb-item>
                        <nz-breadcrumb-separator>></nz-breadcrumb-separator>
                        <nz-breadcrumb-item>Responder Solicitação</nz-breadcrumb-item>
                    </nz-breadcrumb>
                    <span class="regional">RM {{cotation.cotacao.idCotacao}}</span>
                </div>
            </div>
            <div class="row mb-3 header-data noventa-box-shadow">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-8">
                            <label for="requester">Solicitante: <span
                                    id="requester">{{cotation.dadosSolicitante.nome}}</span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="requester">CNPJ: <span id="requester">{{cotation.dadosSolicitante.cnpj | mask:
                                    '000.000.000-00||00.000.000/0000-00'}}</span></label>

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label for="requester"><i class="ri-calendar-line"></i> Solicitado em: <span id="requester">
                                    {{cotation.cotacao.dataCadastro | date: "dd/MM/yy 'ás' HH'h'mm"}}</span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="requester"><i class="ri-truck-line"></i> Entrega desejada (cliente): <span
                                    id="requester">{{cotation.dadosSolicitante.dataEntrega | date:
                                    'dd/MM/yy'}}</span></label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-8">
                            <label for="requester"><i class="ri-map-pin-line"></i> Local de destino: <span
                                    id="requester">
                                    {{cotation.dadosSolicitante.endereco}}
                                </span></label>
                        </div>
                        <div class="col-md-4">
                            <label for="requester">
                                <i class="ri-phone-line"></i> Contato:
                                <span id="requester">{{cotation.dadosSolicitante.telefone | mask: '(00) 0000-0000||(00)
                                    0 0000-0000'}} / {{cotation.dadosSolicitante.email}}
                                </span>
                            </label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-12" style="padding: 0;">
                    <div class="row cotation-body">
                        <ngx-simplebar #scrollRef>
                            <nz-table class="answerTable" #answerTable [nzData]="cotation.material"
                                [nzShowPagination]="false">
                                <thead>
                                    <tr>
                                        <th>Disponib.</th>
                                        <th>Item Requisitado</th>
                                        <th>Fabricante</th>
                                        <th>Qtd. Req.</th>
                                        <th>Prç. Unit.</th>
                                        <th>% Desc.</th>
                                        <th>Incluso IPI?</th>
                                        <th>% IPI</th>
                                        <th>Valor IPI</th>
                                        <th>%ICMS</th>
                                        <th>Prazo Ent.</th>
                                        <th>Marca</th>
                                        <th>Subtotal</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let data of answerTable.data">
                                        <td [nzChecked]="data.ativo"></td>
                                        <td *ngIf="hasShortDescription(data.descricao).short" class="shorter">
                                            {{ hasShortDescription(data.descricao).short }}
                                            <span class="show-tip" nz-tooltip [nzTooltipTitle]="hasShortDescription(data.descricao).desc"></span>
                                        </td>
                                        <td *ngIf="!hasShortDescription(data.descricao).short">
                                            {{ data.descricao }}
                                        </td>
                                        <td>{{ data.nomeFabricante }}</td>
                                        <td>{{ data.quantidadeRequisitada | number }} UND</td>
                                        <td>
                                            <input class="answerTableInput" nz-input
                                                [value]="data.precoUnitario | currency : 'BRL'" type="text">
                                        </td>
                                        <td>
                                            <input class="answerTableInput" nz-input
                                                [value]="data.percentualDesconto | percent" type="text">
                                        </td>
                                        <td [nzChecked]="data.ipiIncluso"></td>
                                        <td>
                                            <input class="answerTableInput" nz-input [value]="data.valorIpi | percent"
                                                type="text">
                                        </td>
                                        <td>
                                            <input class="answerTableInput" nz-input
                                                [value]="data.valorIpi | currency : 'BRL'" type="text">
                                        </td>
                                        <td>
                                            <input class="answerTableInput" nz-input
                                                [value]="data.percentualIcms | percent" type="text">
                                        </td>
                                        <td>
                                            <input class="answerTableInput date" nz-input
                                                [value]="data.prazoEntrega| date : 'dd/MM/yy'" type="text">
                                        </td>
                                        <td>
                                            <input class="answerTableInput" nz-input [value]="data.marca" type="text"
                                                readonly>
                                        </td>
                                        <td>
                                            {{ data.subTotal| currency : 'BRL' }}
                                        </td>
                                    </tr>
                                </tbody>
                            </nz-table>
                        </ngx-simplebar>
                    </div>
                </div>
            </div>
            <div class="row title-row">
                <div class="col-md-8">
                    <h3>Informe os datalhes da entrega</h3>
                </div>
                <div class="col-md-4">
                    <h3>Resumo da cotação</h3>
                </div>
            </div>
            <div class="row mb-3">
                <div class="col-md-8 noventa-box-shadow" style="width: 64.66666667%;">
                    <form [formGroup]="formDelivery" class="formDelivery">
                        <div class="row mb-3">
                            <div class="col-md-4">
                                <label for="vendorName">Nome do vendedor <small>*</small></label>
                                <input formControlName="nomeVendedor" nz-input value="Carolina Bessa" id="vendorName"
                                    type="text">
                            </div>
                            <div class="col-md-4">
                                <label for="vendorName">Data de entrega <small>*</small></label>
                                <nz-date-picker formControlName="dataEntrega"></nz-date-picker>
                            </div>
                            <div class="col-md-4">
                                <label for="vendorName">Formas de pagamento <small>*</small></label>
                                <nz-select formControlName="formaPagamento" ativo name="paymentType">
                                    <nz-option [nzValue]="value"
                                        nzLabel="Á Vista (5% de deconto), Até 5x sem Juros"></nz-option>
                                </nz-select>
                            </div>
                        </div>
                        <div class="row mb-3">
                            <div class="col-md-2">
                                <label for="vendorName">Tipo do frete <small>*</small></label>
                                <nz-select formControlName="tipoFrete" ativo name="freigthType">
                                    <nz-option [nzValue]="value" nzLabel="FOB"></nz-option>
                                </nz-select>
                            </div>
                            <div class="col-md-2">
                                <label for="vendorName">Valor do frete <small>*</small></label>
                                <input formControlName="valorFrete" nz-input [value]="280 | currency : 'BRL'"
                                    id="vendorName" type="text">
                            </div>
                            <div class="col-md-2">
                                <label for="vendorName">Frete fora da nota</label>
                                <input formControlName="freteForaNota" nz-input id="vendorName" placeholder="(opcional)"
                                    type="text">
                            </div>
                            <div class="col-md-2">
                                <label for="vendorName">Seguro</label>
                                <input formControlName="seguro" nz-input id="vendorName" placeholder="(opcional)"
                                    type="text">
                            </div>
                            <div class="col-md-2">
                                <label for="vendorName">Desconto</label>
                                <input formControlName="desconto" nz-input [value]="580 | currency : 'BRL'"
                                    id="vendorName" type="text">
                            </div>
                            <div class="col-md-2">
                                <label for="vendorName">Outras despesas</label>
                                <nz-select formControlName="outrasDespesas" nzPlaceHolder="Selecione"></nz-select>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12 d-flex flex-column">
                                <label for="vendorName">Observação</label>
                                <textarea formControlName="observacao" rows="6" style="resize: none;"></textarea>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="col-md-4 ml-md-auto checkout-info noventa-box-shadow" style="margin-left: 2%;">
                    <div>
                        <span>Subtotal itens</span>
                        <span>(+) {{cotation.resumoCotacao.subTotalItens | currency: 'BRL'}}</span>
                    </div>
                    <div>
                        <span>Valor frete</span>
                        <span>(+) {{cotation.resumoCotacao.valorFrete | currency: 'BRL'}}</span>
                    </div>
                    <div>
                        <span>Seguro</span>
                        <span>(+) {{cotation.resumoCotacao.valorSeguro | currency: 'BRL'}}</span>
                    </div>
                    <div>
                        <span>Descontos</span>
                        <span>(-) {{cotation.resumoCotacao.valorDesconto | currency: 'BRL'}}</span>
                    </div>
                    <div>
                        <span>Outras despesas</span>
                        <span>(+) {{cotation.resumoCotacao.outrasDespesas | currency: 'BRL'}}</span>
                    </div>
                    <div>
                        <span>Formas de pagamento</span>
                        <span>{{cotation.resumoCotacao.formaPagamento}}</span>
                    </div>
                    <nz-divider></nz-divider>
                    <div class="total-value">
                        <span>Valor total final</span>
                        <span>{{cotation.resumoCotacao.subTotalItens | currency: 'BRL'}}</span>
                    </div>
                </div>
            </div>
            <div class="row submit-field">
                <div class="col-md-12">
                    <button class="btn">Voltar</button>
                    <button class="btn" (click)="sentRequest()">Enviar Cotação</button>
                </div>
            </div>
        </div>
    </div>
</ngx-simplebar>