<div class="auth-container h-100 w-100">
    <div class="row">
        <div class="col-md-12 mb-3">
            <a routerLink="/auth/login" class="goBack">
                <i class="ri-arrow-left-s-line"></i>
                Voltar
            </a>
        </div>
        <div class="col-md-12">
            <h3 class="title">Esqueceu a senha?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="context">Fique tranquilo! Informe o número do CNPJ ou CPF e te ajudaremos a recuperá-la.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="forgottenForm">
                <div class="input-container">
                    <label class="input-label" for="cpfcnpj">CPF / CNPJ</label>
                    <input id="cpfcnpj" formControlName="cpfcnpj" nz-input class="form-control noventa-input"
                        placeholder="Insira o CPF ou CNPJ" mask="000.000.000-00||00.000.000/0000-00" type="text"
                        [class]="(forgottenForm.get('cpfcnpj')?.invalid && forgottenForm.get('cpfcnpj')?.errors && (forgottenForm.get('cpfcnpj')?.dirty || forgottenForm.get('cpfcnpj')?.touched)) ? 'hasError' : ''" />
                    <div
                        *ngIf="forgottenForm.get('cpfcnpj')?.invalid && forgottenForm.get('cpfcnpj')?.errors && (forgottenForm.get('cpfcnpj')?.dirty || forgottenForm.get('cpfcnpj')?.touched)">
                        <small class="text-danger" *ngIf="forgottenForm.get('cpfcnpj')?.hasError('required')">
                            * O campo CPF / CNPJ é obrigatorio.
                        </small>
                        <small class="text-danger" *ngIf="forgottenForm.get('cpfcnpj')?.hasError('mask')">
                            * O Campo CPF / CNPJ deve ter no minimo {{countMaskMinLenght(forgottenForm.get('cpfcnpj')?.errors)}} caracteres.
                        </small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <button (click)="requestPasswordNewKey()" [disabled]="!forgottenForm.valid" nz-button
            nzType="primary">Recuperar Senha</button>
    </div>
</div>