<div class="auth-container h-100 w-100">
    <div class="row">
        <div class="col-md-12 mb-3">
            <a routerLink="/auth/login" class="goBack">
                <i class="ri-arrow-left-s-line"></i>
                Voltar
            </a>
        </div>
        <div class="col-md-12">
            <h3 class="title">Esqueceu a senha?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="context">Fique tranquilo! Informe o número do CNPJ ou CPF e te ajudaremos a recuperá-la.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <form [formGroup]="forgottenForm">
                <div class="input-container">
                    <label class="input-label" for="cnpj">CNPJ</label>
                    <input id="cnpj" formControlName="cnpj" nz-input class="form-control noventa-input"
                        placeholder="00.000.000/0001-00" mask="00.000.000/0000-00" type="text"
                        [class]="(forgottenForm.get('cnpj')?.invalid && forgottenForm.get('cnpj')?.errors && (forgottenForm.get('cnpj')?.dirty || forgottenForm.get('cnpj')?.touched)) ? 'hasError' : ''" />
                    <div
                        *ngIf="forgottenForm.get('cnpj')?.invalid && forgottenForm.get('cnpj')?.errors && (forgottenForm.get('cnpj')?.dirty || forgottenForm.get('cnpj')?.touched)">
                        <small class="text-danger" *ngIf="forgottenForm.get('cnpj')?.hasError('required')">
                            * O campo CNPJ é obrigatorio.
                        </small>
                        <small class="text-danger" *ngIf="forgottenForm.get('cnpj')?.hasError('mask')">
                            * O Campo CNPJ deve ter no minimo 14 caracteres.
                        </small>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="row">
        <button (click)="requestPasswordNewKey()" [disabled]="!forgottenForm.valid" nz-button
            nzType="primary">Recuperar Senha</button>
    </div>
</div>