.loader {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
    background-color: rgba($color: #000000, $alpha: 0.5);

    img {
        position: absolute;

        &.nov-logo {
            width: 70px;
        }
    }
}