<div class="auth-container h-100 w-100">
    <div class="row">
        <div class="col-md-12">
            <h3 class="title">Sua senha foi redefinida com sucesso!</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 imgContainer">
            <img src="./../../../assets/img/confirmacao_reset_pass.png" alt="confirm">
        </div>
    </div>
    <div class="row">
        <button (click)="goToPortal()" nz-button nzType="primary">
            Entrar no Portal do Fornecedor
        </button>
    </div>
</div>