<div class="auth-container h-100 w-100">
    <div class="row">
        <div class="col-md-12">
            <h3 class="title">Confirmação de identidade</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <p class="context">Enviaremos um e-mail para <b>{{maskedEmail}}</b> com um link de confirmação de
                identidade.</p>
            <p class="context">Por favor, confirme para continuar.</p>
        </div>
    </div>
    <div class="row">
        <button (click)="confirmAndSenEmail()" nz-button nzType="primary">Confirmar e enviar e-mail</button>
    </div>
</div>